.language {
   cursor: pointer;
   font-size: 12px;
   position: relative;
   width: 40px;

   &--active {
      .language__list {
         max-height: 400%;
         z-index: 20;
      }

      .language__item {
         &:hover {
            color: $green-c;
         }
      }
   }

   &__head {
      padding: 0 0 4px 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: $transition;
   }

   &__icon {
      font-size: 10px;
   }

   &__list {
      @include pos($t: 100%, $l: 0, $r: 0);
      transition: $transition;
      overflow: hidden;
      max-height: 0;
      background: $bgr-c;
      border-radius: 10px;
      width: 40px;
   }

   &__item {
      transition: 0.15s background ease-in;
      padding:0  0 3px 5px;
      cursor: pointer;
   }

   &__current{
      margin-right: 5px;
   }
}

@media (min-width: 510px) {
.language{
   order: 5;
}
}

@media (min-width: $laptop) {
   .language {
      font-size: 14px;
      width: 49px;
      order: 7;

      &__icon {
         font-size: 14px;
      }
   }
}
