.language {
   cursor: pointer;
   font-size: 12px;
   position: relative;
   width: 40px;
   order: 5;

   &--active {
      .language__list {
         max-height: 400%;
      }
      .language__head {
         border-bottom-color: transparent;
         // margin-bottom: 5px;
      }
      .language__item {
         &:hover {
            color: $green-c;
         }
      }
   }

   &__head {
      border-bottom: 1px dashed #000;
      padding-bottom: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: $transition;
   }

   &__icon {
      font-size: 10px;
   }

   &__list {
      @include pos($t: 100%, $l: 0, $r: 0);
      transition: $transition;
      overflow: hidden;
      max-height: 0;
      background: $bgr-c;
      z-index: 10;
   }

   &__item {
      transition: 0.15s background ease-in;
      // margin-bottom: 10px;
      padding: 5px 0;
      cursor: pointer;
      
   }
}

@media (min-width: $laptop) {
   .language {
      font-size: 14px;
      width: 45px;
      order: 7;

      &__icon {
         font-size: 14px;
      }
   }
}
