.menu {
   @include pos($t: 0, $r: 0, $l: 0, $z: 100, $pos: fixed);
   transition: all 0.5s ease;
   height: 85px;
   overflow: hidden;
   padding: 15px 20px 0;
   background: $bgr-c;
   &--active {
      height: 450px;
   }
   &__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
   }
   &__language {
      display: flex;
      align-items: center;
      font-size: 12px;
      border-bottom: 1px dashed #000;
      padding-bottom: 4px;
      cursor: pointer;
      
      &--icon {
         margin-left: 10px;
         font-size: 10px;
      }
   }
}

@media (min-width: 540px) {
   .menu {
      &--active {
         height: 270px;
      }
   }
}

@media (min-width: $tablet) {
   .menu {
      &--active {
         height: 20vh;
      }
   }
}

@media (min-width: $laptop) {
   .menu {
      height: auto;
      position: relative;
      padding: 0;
      &__language {
      font-size: 14px;
      margin-left: 5px;
      &--icon {
         font-size: 14px;
      }
   }
   }
}
